@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 230px;
  height: 360px;
  border: 1px solid #000000;
  /* scroll-bar */ }
  body * {
    font-family: sans-serif; }
  body ::-webkit-scrollbar {
    width: 4px;
    height: 9px; }
  body ::-webkit-scrollbar-track {
    border-radius: 7px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); }
  body ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); }

div#header {
  overflow: hidden; }
  div#header ul {
    border-bottom: 1px solid #dedede; }
  div#header ul#higher {
    overflow: hidden;
    background-color: #222525; }
    div#header ul#higher li#title {
      float: left;
      font-size: 22px;
      color: #e8e8e8;
      width: 185px;
      text-align: left;
      padding: 7px 0 7px 11px; }
    div#header ul#higher li#setting {
      float: right;
      width: calc(100% - 196px); }
      div#header ul#higher li#setting i {
        margin: 4px 6px 0 0;
        display: block;
        padding: 4px 5px;
        font-size: 19px;
        color: #e8e8e8;
        border-radius: 3px; }
  div#header ul#lower {
    width: inherit;
    box-shadow: 0 3px 4px -3px #858585; }
    div#header ul#lower li {
      background-color: #eceeee;
      float: left;
      display: inline-block;
      padding: 7px 11px;
      font-size: 12px;
      border-left: 1px solid #dedede; }
      div#header ul#lower li i {
        font-size: 15px;
        margin-right: 5px; }
      div#header ul#lower li:last-child {
        border-right: 1px solid #dedede; }
      div#header ul#lower li:hover {
        cursor: pointer; }
    div#header ul#lower li.active {
      padding: 6px 10px;
      border: 1px solid orange; }

div#bin-calendar {
  /* default colors */ }
  div#bin-calendar .blue {
    color: #005ce6; }
  div#bin-calendar .pink {
    color: #ff3377; }
  div#bin-calendar .green {
    color: #008000; }
  div#bin-calendar .gray {
    color: #404040; }
  div#bin-calendar .skyblue {
    color: #00ace6; }
  div#bin-calendar .purple {
    color: #2929a3; }
  div#bin-calendar .orange {
    color: #cc5200; }
  div#bin-calendar .beige {
    color: #e69900; }
  div#bin-calendar .yellow {
    color: #b3b300; }
  div#bin-calendar .brown {
    color: #802b00; }
  div#bin-calendar div#overall {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #dedede; }
    div#bin-calendar div#overall > * {
      display: inline-block;
      height: 100%; }
      div#bin-calendar div#overall > * > * {
        display: table-cell;
        vertical-align: middle;
        width: inherit; }
    div#bin-calendar div#overall p.pager {
      padding: 0 7px; }
      div#bin-calendar div#overall p.pager i {
        padding-top: 16px; }
      div#bin-calendar div#overall p.pager:hover {
        background-color: #dedede;
        cursor: pointer; }
    div#bin-calendar div#overall p#left {
      border-right: 1px solid #dedede; }
    div#bin-calendar div#overall p#right {
      border-left: 1px solid #dedede; }
    div#bin-calendar div#overall div#fullyear {
      width: 67px; }
      div#bin-calendar div#overall div#fullyear ul {
        padding: 5px; }
        div#bin-calendar div#overall div#fullyear ul li.year {
          font-size: 14px; }
        div#bin-calendar div#overall div#fullyear ul li.month-date {
          margin-top: 5px;
          font-size: 12px; }
    div#bin-calendar div#overall div#bin-types {
      border-left: 1px solid #dedede;
      width: 95px; }
      div#bin-calendar div#overall div#bin-types ul {
        padding: 6px; }
        div#bin-calendar div#overall div#bin-types ul li {
          font-size: 11px; }
  div#bin-calendar div#calendar {
    min-height: calc(300px - 66px - 56px); }
    div#bin-calendar div#calendar div.current {
      font-size: 13px;
      text-align: center;
      padding: 5px 0; }
    div#bin-calendar div#calendar table th, div#bin-calendar div#calendar table td {
      border: 1px solid #dedede;
      height: 24px;
      width: 32px;
      vertical-align: middle;
      font-size: 12px; }
    div#bin-calendar div#calendar table th {
      background-color: #ffffcc; }
    div#bin-calendar div#calendar table td div {
      padding: 3px; }
      div#bin-calendar div#calendar table td div span {
        display: inline-block;
        font-size: 11px; }
      div#bin-calendar div#calendar table td div .day {
        float: left; }
      div#bin-calendar div#calendar table td div .symbol {
        float: right; }
    div#bin-calendar div#calendar table .current {
      background-color: #b3e6ff; }
    div#bin-calendar div#calendar table .active {
      background-color: #ffcc99; }
    div#bin-calendar div#calendar table .pointer:hover {
      background-color: #ffcc99;
      cursor: pointer; }
    div#bin-calendar div#calendar table .pointer:active {
      background-color: #ffcc99; }
  div#bin-calendar div#description ul {
    width: 230px;
    height: 29px;
    overflow-x: auto;
    white-space: nowrap; }
    div#bin-calendar div#description ul li {
      display: inline;
      font-size: 12px;
      margin-right: 7px; }
    div#bin-calendar div#description ul .symbol:before {
      content: 'â—'; }

div#weather-report div#overall {
  height: 75px;
  padding: 6px 6px 0 6px;
  overflow: hidden;
  border-bottom: 1px solid #dedede; }
  div#weather-report div#overall div#condition {
    float: left;
    text-align: center;
    width: 65px; }
    div#weather-report div#overall div#condition p {
      font-size: 13px;
      margin: 4px 0; }
    div#weather-report div#overall div#condition img {
      width: 43px;
      height: 43px;
      background-color: #f5f5f5;
      border: 1px solid #909090;
      border-radius: 3px; }
  div#weather-report div#overall div#contents {
    float: right;
    text-align: left;
    width: 150px; }
    div#weather-report div#overall div#contents div#temp {
      margin: 7px 0 9px 0; }
      div#weather-report div#overall div#contents div#temp * {
        display: inline-block; }
      div#weather-report div#overall div#contents div#temp p {
        font-size: 16px;
        margin-right: 5px; }
        div#weather-report div#overall div#contents div#temp p:last-child {
          margin-right: 0; }
      div#weather-report div#overall div#contents div#temp ul li {
        font-size: 14px; }
        div#weather-report div#overall div#contents div#temp ul li:first-child {
          padding-right: 7px;
          border-right: 1px solid #909090; }
        div#weather-report div#overall div#contents div#temp ul li:last-child {
          padding-left: 7px; }
      div#weather-report div#overall div#contents div#temp ul li.active {
        font-weight: bold; }
    div#weather-report div#overall div#contents ul#others li {
      margin: 5px 0;
      font-size: 12px; }
div#weather-report div#chart {
  height: 87px;
  width: 228px;
  margin: 0 1px;
  overflow-x: auto;
  white-space: nowrap; }
  div#weather-report div#chart > div {
    position: relative;
    margin: auto;
    width: 500px;
    height: 70px;
    border-bottom: 1px solid #dedede; }
div#weather-report div#modes {
  height: 30px; }
  div#weather-report div#modes ul {
    margin: 0 12px 6px 12px; }
    div#weather-report div#modes ul li {
      background-color: #eceeee;
      border: 1px solid #dedede;
      display: inline-block;
      font-size: 12px;
      padding: 6px 7px; }
    div#weather-report div#modes ul li.active {
      border: 1px solid orange; }
div#weather-report div#weathers {
  height: 97px;
  margin: 0 1px; }
  div#weather-report div#weathers ul {
    width: 228px;
    overflow-x: auto;
    white-space: nowrap; }
    div#weather-report div#weathers ul li {
      margin: 0;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
      padding: 5px;
      display: inline-block;
      width: 50px;
      text-align: center; }
      div#weather-report div#weathers ul li p {
        font-size: 11px;
        margin-bottom: 2px; }
      div#weather-report div#weathers ul li p.temp {
        font-size: 9px;
        text-align: left;
        margin-top: 6px; }
      div#weather-report div#weathers ul li img {
        background-color: #f5f5f5;
        border: 1px solid #909090;
        border-radius: 3px;
        width: 33px;
        height: 33px; }
    div#weather-report div#weathers ul li.active {
      border: 1px solid orange; }
